
@import url('https://fonts.googleapis.com/css2?family=Carme&family=Inder&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family:“Segoe UI”, Tahoma, Geneva, Verdana, sans-serif;
    
}


h1 {
    font-family:'Carme', serif;
    text-align:center;
    font-weight:bold;
}

h2 {
    font-family:'Inder', sans-serif;
    font-weight:normal;
}

main .bloque .subtitle{
  font-size: clamp(1.25rem, 2.2vw, 1.75rem);
  font-weight: 700;
  margin-bottom: .75rem;
}

p {
    font-family:'Mulish', sans-serif;
    font-weight:200;
}

#photo {
    width: 10vw;
    height: auto;
    border-radius: 70%;
    display: block;
    margin: auto auto;
    padding-top: 20px;
}
figure{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto auto;
    padding: 10px 0;
    justify-content: center;
    align-items: center;


}
#videoPresentacion {
    display: flex;
    margin: auto auto;
    padding: 20px 0;
    border-radius: 30px;
    justify-content: center; 
}

.subtitle{
    color:rgb(151 156 165 / 0.89);
    text-transform: uppercase;
    margin-bottom: 10px;
    width: auto;
}

footer p{
    text-align: right;
    font-style: italic;
}



section {
    border:0.2 pt solid #cedddd;
    border-color:(#cedddd);
    margin: 4px 2px 8px 2px;
    padding:1.5% 0.8%;
    margin-bottom:1.2rem;
    

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 1px 0px rgba(235, 234, 234,0.6);

}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
}
nav ul li{
    margin-left: 20px;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

form{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    column-gap: 1rem;
}
input, textarea,select fieldset{
    padding: 0.5rem;
    border: 1px solid #9ba8a8;
    border-radius: 5px;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
}
button{
    cursor: pointer;
    width: 25%;
    padding: 0.7rem;
    justify-self: center;
    border: 1px solid black;
    border-radius: 5px;


}
#pruebaFlex {
    display: flex;
    display: none;
    background-color: #f9f9f9;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding:20px;
    gap: 40px;
}

.caja {
    width: 120px;
    height: 120px;
    border:1px solid rgb(76, 74, 74);
    background-color: white;
    line-height: 120px;
    text-align: center;

    
}
#ubicacion{
    display: flex;
    flex-direction: column;
    text-align: center;


}
#ubicacion h2{
    margin-bottom: 20px;
    text-align: left;
}
#mapa{
    width: 50%;
    height: 400px;
    border: 3px solid black;
    padding:10px;
    align-self: center;
    
}
#subPruebaFlex {
    flex-basis: 50%;
    text-align: center;
    margin-bottom: 10px;
}
#textPruebaFlex {
    flex-basis: 40%;
    text-align: center;
    border: 10px;
}

#pruebaGrid {
    display:grid;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 150px);
    width: 80%;
    margin: 0 auto;
    background-color: lightblue;
    padding:20px;
    border:1px solid black;
}

.grid-item {
    width:150px;
    height:150px;
    border:4px solid black;
    background-color: lightgray;
    margin:5px;
    text-align: center;
    line-height: 150px;
    
}
footer {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ccc;
    font-size: 0.8rem;
}
/* form{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    text-align: left;
    padding: 15px;
    flex-basis: 20%;
    width: 50%;
    margin: 0 auto;
} */